# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environments
/backend/.venv
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
node_modules
/backend/xe

# flask stuff
instance/
.webassets-cache

# byte-compiled / optimized / DLL files
__pycache__/
/src/apis/__pycache__/
*.py[cod]
*$py.class

# distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

#docker
/frontend/frontendtest.tar
/backend/backendendtest.tar